body {
  font-family: 'Rajdhani', sans-serif;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

#titulo {
  margin-bottom: 0;
  color: #EC183F;
  font-size: 40px;
}

header p {
  margin-top: 10px;
  font-weight: bold;
}

section img {
  width: 100%;
}

main {
  border-bottom: solid 1px #CCC;
  padding-bottom: 40px;
}

div.container {
  width: fit-content;
  margin: 0 auto;
}

